<{includeq file='db:imtranslating_header.html'}>

<{if $imtranslating_lists}>
	<h1><{$smarty.const._MD_IMTRANSLATING_LISTS}></h1>
	
	<div><{$imtranslating_lists}></div>
<{/if}>

<{if $imtranslating_list_view}>
	<{$imtranslating_list_view}>
	<br />
	<h1><{$smarty.const._MD_IMTRANSLATING_LIST_ITEMS}></h1>
	<{$imtranslating_list_items}>
	
<{/if}>

<{if $imtranslating_list}>
	<{includeq file='db:smartobject_form.html' form=$imtranslating_list}>
<{/if}>

<{if $smartobject_delete_confirm}>
	<{$smartobject_delete_confirm}>
<{/if}>

<{includeq file='db:imtranslating_footer.html'}>